/* Reset */
html, body, div, h1, canvas {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

canvas{
	border: 1px solid black;
	display: inline;
	float:left;
}

#canvasDiv{
	display:inline;
	width:300px;
	height:300px;
}
#resultCanvasDiv{
	clear:both;
	display:none;
}

#result{
	position: relative;
	margin:20px;
	top:40px;
	display: inline;
	font-size: 1000%;
}

#buttons{
	clear:both;
	display:block;
}


#main{
	margin:10px;
}



#options{
	display:block;
	margin: 10px 0;
	padding: 10px ;
	border:1px solid black;
	border-radius:10px;
}

#trainingTools{
	display: none;
	padding: 10px ;
}

#graphCanvas{
	border:none;
	margin-top: 20px;
}



